// --- MIXINS ---

// set icon size
@mixin setIcon($size: null, $color: null, $position: null) {
  @if ($size != null) {
    font-size: #{$size}px;
    height: #{$size}px;
    width: #{$size}px;  
  }
  @if ($color != null) {
    color: $color !important;
  }
  @if ($position != null) {
    vertical-align: $position !important;  
  }
  
}

// set entity color
@mixin setEntityColor($type) {
  @each $entity, $color in $entities {
    @if ($type == card) {
      &.app-entity-#{$entity} {
        background-color: $color;

        .card-footer {
          background-color: $white;
          color: $color;
        }
      } 
    }
  }
}

// set entity color for all defined elements inside
@mixin setEntityElementsColor() {
  @each $entity, $color in $entities {
    .app-entity-#{$entity} {
      // common
      .app-entity-color {
        color: $color;
      }

      // toolbar
      .app-toolbar {
        background-color: rgba($color, .1);

        .app-left {
          .app-entity-title {
            background-color: $color;
  
            &:after {
              border-left-color: $color;
            }
          }

          .app-entity-item {
            color: $color;
          }
        }

        .app-right {
          .btn {
            color: $color;
            border-left-color: rgba($color, .3) !important;
  
            &:hover {
              background-color: $color;
              color: $white;
            } 
          }
        }
      }

      // stepper
      .bs-stepper {
        .step {
          &.active {
            .bs-stepper-circle {
              background-color: $color;
            }
    
            .bs-stepper-label {
              color: $color;
            }
          }
        }
      }

      // card header button
      .card {
        &.app-card-form  {
          .card-header {
            .btn-group {
              .btn {
                &:hover {
                  background-color: $color !important;
                  color: $white;
                }
              }
            }
          }
        }
      }

      // entity card
      .app-card-entity {
        background-color: $color;

        .card-footer {
          background-color: $white;
          color: $color;
        }
      }

      // button color
      .btn-primary {
        border-color: $color;
        background-color: $color;

        &:hover {
          $link-hover-color: darken($color, 10);
          border-color: $link-hover-color;
          background-color: $link-hover-color;
        }
      }

      // check box color
      .custom-control-input:checked ~ .custom-control-label::before {
        border-color: $color;
        background-color: $color;
      }

      .badge {
        background-color: $color;
        color: $white;
      }

      // table list
      .app-table-list-wrapper {
        .table {
          thead {
            background-color: $color !important;
      
            a {
              color: $white;
            }
          }

          tbody {
            a {
              color: $color;
            }
          }
        }
      }

      // pagination
      .pagination {
        .page-item {
          &.active {
            .page-link {
              background-color: $color;
              border: $color;
              color: $white;
            }
          }

          .page-link {
            color: $color;
          }
        }
      }

      // dropdown
      .dropdown-menu {
        .dropdown-item {
          &:active {
            background-color: $color;
          }
        }
      }
    }

    // card behavior based on entity
    .app-card-#{$entity} {
      table {
        tr {
          td {
            &.app-ident-cely {
              color: $color !important;

              .material-icons {
                color: $color;
              }

              a {
                color: $color;
              }
            }

            .badge {
              background-color: $color;
              color: $white;
            }
          }
        }
      }
    }
  }
}

// set pian state color
@mixin setPianStateColor() {
  @each $pianState, $color in $pianStates {
    &.app-#{$pianState} {
      color: $color;
    }
  }
}


// set link color
@mixin setLinkColor($color, $shade: none, $val: none, $colorH: none) {
  color: $color;

  &:hover {
    @if ($shade == 'd') {
      color: darken($color, $val);
    } @else if ($shade == 'l') {
      color: lighten($color, $val);
    } @else if ($shade == none) {
      color: $colorH;
    }
  }
}