// --- BREADCRUMB ---

.app-toolbar {
  @extend .d-flex, .pr-3;
  height: $app-toolbar-height;
  margin: -#{$spacer-3} -#{$spacer-4} #{$spacer-4} -#{$spacer-3};

  .app-left {
    @extend .flex-grow-1, .d-flex;

    .app-entity-title {
      @extend .d-flex, .align-items-center, .mr-5;
      list-style: none;
      box-sizing: border-box;
      background-color: $white;
      position: relative;
      color: $white;
      position: relative;
      padding: 0 $spacer-3;
      
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: calc(-#{$app-toolbar-height} / 2);
        width: 0;
        height: 0;
        border-top: calc(#{$app-toolbar-height} / 2) solid transparent;
        border-left: calc(#{$app-toolbar-height} / 2) solid;
        border-bottom: calc(#{$app-toolbar-height} / 2) solid transparent;
      }

      .material-icons {
        @include setIcon($position: text-bottom);
        @extend .mr-1;
      }


      a {
        font-size: 20px;
        font-weight: 500;
        color: $white;
      }
    }

    .app-entity-item {
      @extend .align-self-center;
      font-weight: 600;
    }
  }

  .app-right {
    @extend .d-flex;

    &.app-controls {
      .btn-group {
        @extend .d-flex;

        .btn {
          @extend .d-flex, .rounded-0, .pl-3, .pr-3;
          border: 0;
          align-items: center;
          border-left: 1px solid;

          .material-icons {
            @extend .mr-2;
          }
        }
      } 
    }
  }
}