// --- VARIABLES ---

// bootstrap rewrite
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary: #0d47a1 !default;
$secondary: lighten(#303641, 30) !default;

$border-radius: .25rem !default;
$border-radius-lg: .3rem !default;
$border-radius-sm: .2rem !default;

$table-cell-padding-sm: .3rem .75rem;

// entity colors
$entities: (
  "strategie": #58c49b
);

$pianStates: (
  "disabled": $gray-500,
  "confirmed": $gray-900,
  "notconfirmed": red
);

// container
$container-max-width-xl: 1140px !default;

// common
$app-flag-width: 27px !default;
$app-form-control-height: auto !default;
$app-form-control-line-height: 1 !default;
$app-form-group-mg-bottom: .8rem !default;
$app-form-label-mg-bottom: .1rem !default; 
$app-logo-sidebar-height: 60px !default;
$app-logo-nosidebar-height: 60px !default;
$app-form-control-fix-height: 31px !default;

// card
$app-card-shadow: 0 0.5rem 1rem rgba(0,0,0,.1) !default;
$app-card-shadow-hover: 0 0.5rem 1rem rgba(0,0,0,.2) !default;

// card form
$app-card-form-header-height: 40px !default;
$app-card-form-header-btn-height: 100% !default;
$app-card-form-header-btn-border-color: $gray-300 !default;

// navbar
$app-navbar-height: 56px !default;

// sidebar
$app-sidebar-width: 300px !default;
$app-sidebar-bg: #303641 !default;
$app-sidebar-accordion-color: lighten($app-sidebar-bg, 30) !default;
$app-sidebar-accordion-color-active: $white !default;
$app-sidebar-accordion-border-color: rgba($white, .07) !default;
$app-sidebar-accordion-body-color: rgba($white, .03) !default;
$app-sidebar-a-color: #fff;

// breadcrumb
$app-toolbar-height: 50px !default;

// footer
$app-footer-top-bg: rgba(lighten($app-sidebar-bg, 70), .8) !default;
$app-footer-bottom-bg: lighten($app-sidebar-bg, 65) !default;

// login
$app-login-desc-color: lighten($app-sidebar-bg, 50) !default;
$app-login-border-color: rgba($white, .12) !default;
$app-login-news-max-height: 280px !default;

// mq break point
$xxs: 'only screen and (min-width: 400px) and (max-width: 575px)';
$xs: 'only screen and (max-width: 575px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$md: 'only screen and (min-width: 768px) and (max-width: 991px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 5000px)';

$lt-sm: 'only screen and (max-width: 575px)';
$lt-md:	'only screen and (max-width: 767px)';
$lt-lg:	'only screen and (max-width: 991px)';
$lt-xl:	'only screen and (max-width: 1199px)';

$gt-xs:	'only screen and (min-width: 576px)';
$gt-sm:	'only screen and (min-width: 768px)';
$gt-md:	'only screen and (min-width: 992px)';
$gt-lg:	'only screen and (min-width: 1200px)';

// breakpoint
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
// map-get($grid-breakpoints, "lg") !default;

// spacers
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

$spacer-0: map-get($spacers, 0) !default;
$spacer-1: map-get($spacers, 1) !default;
$spacer-2: map-get($spacers, 2) !default;
$spacer-3: map-get($spacers, 3) !default;
$spacer-4: map-get($spacers, 4) !default;
$spacer-5: map-get($spacers, 5) !default;

//@debug $spacer-5;

// datepicker
$date-enabled-color:#00249c !default;