// --- GLOBAL ---

// hidde during development
/* #djDebug #djShowToolBarButton {
  display: none;
} */

// colors
.app-color-success {color: $success !important;}
.app-color-info {color: $info !important;}
.app-color-warning {color: $warning !important;}
.app-color-danger {color: $danger !important;}

// common
.app-heading-thin {
  font-weight: 200 !important;
}

.app-pipe {
  border-left: 1px solid $gray-500;
  margin: 0 $spacer-2;
}

.app-flag {
  width: $app-flag-width;
}

.app-flag-inactive {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 50%;
}

.app-btn-show-more {
  .material-icons {
    transition: all 0.4s ease;
    transform: rotateZ(180deg);
  }

  &.collapsed {
    .material-icons {
      transition: all 0.4s ease;
      transform: rotateZ(0deg);
    }
  }
}

.app-card-shadow {
  box-shadow: $app-card-shadow;

  &:hover {
    box-shadow: $app-card-shadow-hover;
  }
}

.app-font-museo {
  font-family: museo;
}

.app-divider-label {
  @extend .small, .pb-1;
  display: inline-block;
  color: $gray-600;
  font-weight: 500;
}

// material icons behavior in bootstrap elements
.btn,
.nav-link {
  .material-icons {
    @include setIcon($position: bottom);
  }

  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

.btn {
  &.collapsed {
    .app-icon-expand {
      transition: all 0.4s ease;
      transform: rotateZ(0deg);
    }
  }

  .app-icon-expand {
    transition: all 0.4s ease;
    transform: rotateZ(180deg);
  }

  &.app-btn-in-form {
    @extend .btn-primary, .ml-2, .d-flex, .btn-sm, .align-items-center;
    height: 32px;
    margin-bottom: .8rem;
  }
}

table {
  font-size: $font-size-sm;

  tr {
    $app-ident-cely: 150px;

    th {
      vertical-align: top !important;
    }

    td {
      &.app-ident-cely {
        width: $app-ident-cely;

        .material-icons {
          @include setIcon($size:18, $position: sub);
        }
      }

      .app-card-dokument & {
        &.app-ident-cely {
          width: 200px;
        }
      }
    }
  }

  .material-icons {
    @include setIcon($position: bottom);
    color: initial;
  }
}

// select form control fix
.select2-container {
  //min-width: unset !important; commented because there was bug, which sent Juraj by skype 
  min-width: 100% !important;
  min-height: $app-form-control-fix-height !important;

  .select2-selection {
    height: $app-form-control-fix-height!important;
    border: 1px solid #ced4da !important;
    border-radius: 0.2rem !important;

    &.form-control {
      @extend .p-0;
      min-height: $app-form-control-fix-height;
      height: unset !important;

      ul {
        @extend .pr-0;
        line-height: 1;
        margin-top: 1px;
      }
    }
  }  
}

// select bootstrap fix
.bootstrap-select {
  .dropdown-toggle {
    height: $app-form-control-fix-height;
    padding: 0.1rem 0.5rem;
  }
}

// date range picker
.app-daterangepicker {
  .form-group {
    & > div {
      @extend .d-flex;
      font-size: 0;

      .textinput {
        @extend .flex-fill, .form-control;
       
        &:first-child {
          margin-right: 15px;
        }

        &:last-child {
          margin-left: 15px;
        }
      }
    }
  }
}

// multiple upload form
form {
  &.dropzone {
    @extend .d-flex;
    border-radius: $border-radius;
    border: 1px solid $gray-400;
    background-color: $gray-100;
    min-height: 180px;
    display:block !important;

    .dz-message {
      @extend .m-0;
      flex: 1;
      align-self: center;
    }
  }
}

// bootstrap rewrite
.form-control {
  @extend .form-control-sm;

  &.app-ellipsis {
    text-overflow: ellipsis;
  }
}

.form-group {
  margin-bottom: $app-form-group-mg-bottom;

  label {
    font-weight: bold;
    font-size: 0.875rem;
    margin-bottom: $app-form-label-mg-bottom;
  }

  .input-group-append {
    cursor: pointer;

    .input-group-text {
      @extend .pt-0, .pb-0, .pl-1, .pr-1;

      .material-icons {
        @include setIcon(18);
      }
    }
  }
}

// card
.card {
  &.app-card-form {
    @extend .mb-3;
    //@extend .shadow;

    &:last-of-type {
      @extend .mb-0;
    }

    .card-header {
      @extend .d-flex;
      width: 100%;
      padding: 0 0 0 1.25rem;
      font-weight: 300;
      height: $app-card-form-header-height;


      .app-fx {
        @extend .d-flex;
        align-items: center;

        &.app-left {
          flex: 1;
        }

        &.app-right {

        }

        .btn-group {
          height: $app-card-form-header-btn-height;

          a {
            &.btn {
              @extend .d-flex;
              align-items: center;
            }
          }

          .btn {
            border-radius: 0;
            border: 0;
            border-left: 1px solid $app-card-form-header-btn-border-color;

            &:last-child {
              border-top-right-radius: $btn-border-radius;
            }
          }
        }
      }
    }

    .card-body {
      .app-note {
        @extend .text-center, .mt-3;
        color: $info;

        .material-icons {
          @include setIcon($position: bottom);
        }
      }

      #projectMap {
        @extend .w-100, .rounded, .h-100;
      }
    }

    &:not(.app-card-inner) {
      box-shadow: $app-card-shadow;
  
      &:hover {
        box-shadow: $app-card-shadow-hover;
      }
    }

    &.app-card-in-clean-shadow {
      .app-card-form {
        @extend .shadow-none;
      }
    }
  }

  // dokumentacni jednotka
  &.app-card-dokumentacni-jednotka {
    min-height: 300px;

    .card-body {
      max-height: 300px;
      overflow-y: auto;
    }
  }
}

// list group
.list-group {
  .list-group-item {
    .material-icons {
      @include setIcon(20);
    }

    .app-pian {
      @include setPianStateColor();
    }

    .app-list-group-in {
      margin-left: 5px;

      li {
        font-size: .9rem;
      }
    }
  }
}

// alert
.alert {
  &.app-alert-floating {
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2);
    border-color: initial;
    position: fixed;
    //top: 50%;
    top: 15px;
    //transform: translateY(-50%);
    left: 50%;
    //transform: translateX(-50%);
  }

  ul {
    @extend .m-0, .p-0;
    list-style-position: inside;
  }
}

// tooltip
.tooltip {
  a {
    color: $white;
  }
}

// table list
.app-table-list-container {
  @extend .d-flex, .flex-column, .h-100; 

  .app-table-list-wrapper {
    flex: 1 0 auto;
    position: relative;

    .app-table-list-inner {
      position: absolute;
      height: 100%;
      width: 100%;
      overflow: auto;

      .table-container {
        overflow: unset;
    
        .table {
          @extend .table-hover; // .table-striped
    
          thead {
            tr {
              th {
                @extend .border-0;
                padding: .5rem .5rem;
    
                &.asc {
                  .app-orderable-wrapper {
                    &:before {
                      content: 'arrow_upward';
                    }
                  } 
                }
    
                &.desc {
                  .app-orderable-wrapper {
                    &:before {
                      content: 'arrow_downward';
                    }
                  } 
                }
    
                .app-orderable-wrapper {
                  @extend .d-flex;
    
                  &:before {
                    @extend .mr-1;
                    font-family: "Material Icons";
                    color: $white;
                  }
                }
              }
            }
          }
    
          tr {
            td {
              @extend .border-top-0, .border-bottom;
              padding: .4rem .5rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              min-width: 100%;
              max-width: 120px;
        
              &.ident_cely {
                min-width: 130px;
              }
    
              &.podnet {
                max-width: 130px;
              }
              &.spoluprace{
                max-width: 20%;
              }
            }
          }
        }
      }
    }
  }
}

// test
/* .app-table-list-container {
  @extend .d-flex, .flex-column, .h-100;

  .app-table-list-wrapper-test {
    flex: 1 0 auto;
    position: relative;

    .app-table-list-inner {
      position: absolute;
      height: 100%;
      width: 100%;
      overflow: auto;
      background-color: red;
    }
  }
} */
