// --- SIDEBAR ---

@import 'app-variables';
@import '../bootstrap/bootstrap';
@import 'app-mixins';
@import 'app-global';

#app-sidebar-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  margin-left: -#{$app-sidebar-width};
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  overflow-y: auto;
  background-color: $app-sidebar-bg;
  width: $app-sidebar-width;

  .app-sidebar-heading {
    @extend .d-flex, .align-items-center;
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    height: calc((#{$app-toolbar-height} + #{$app-navbar-height}) - 1px);

    img {
      max-height: $app-logo-sidebar-height;
    };
    a {
      color: $app-sidebar-a-color
    }
  }

  // accordion
  .card {
    @extend .bg-transparent, .border-0, .rounded-0;
    border-top: 1px solid $app-sidebar-accordion-border-color !important;

    .card-header {
      @extend .bg-transparent;
    }

    .btn-link {
      color: $app-sidebar-accordion-color-active;
      padding: 0;

      &.collapsed {
        @include setLinkColor($app-sidebar-accordion-color, $colorH: $white);

        .app-icon-expand {
          transition: all 0.4s ease;
          transform: rotateZ(0deg);
        }
      }

      .app-icon-expand {
        transition: all 0.4s ease;
        transform: rotateZ(180deg);
      }

      .material-icons {
        margin-right: 8px;

        &.app-icon-expand {
          float: right;
        }
      }
    }

    .card-body {
      background-color: $app-sidebar-accordion-body-color;
      padding-top: 0.75rem;
      padding-bottom: 0.1rem;

      ul {
        li {
          list-style: none;
          line-height: 32px;

          a {
            @include setLinkColor($app-sidebar-accordion-color, $colorH: $white);
          }
        }
      }
    }
  }
}

#app-wrapper {
  &.toggled {
    #app-sidebar-wrapper {
      margin-left: 0;
    }
  }  
}


@media (min-width: 768px) {
  #app-sidebar-wrapper {
    margin-left: 0;
  }

  #app-wrapper {
    &.toggled {
      #app-sidebar-wrapper {
        margin-left: -#{$app-sidebar-width};
      }
    }
  }

  #app-page-wrapper {
    margin-left: $app-sidebar-width;
  }
}

@media (max-width: 767px) {
  .navbar {
    margin-left: 0;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }

  #app-wrapper {
    &.toggled {
      .navbar {
        margin-left: $app-sidebar-width;
      }
    }
  }
}

// test footer always on bottom page
html, body, #app-wrapper {
  height: 100%;
}

#app-page-wrapper {
  @extend .d-flex;
  flex-direction: column;

  .container-fluid {
    flex: 1 0 auto;
  }
}

.table-container {
  overflow-x: auto;
}