// --- OZNAMENI ---

&.app-oznameni {
  .container-fluid {
    .app-header {
      @extend .mb-4;

      .app-left {
        img {
          max-height: $app-logo-nosidebar-height;
        }
      }

      .app-right {
        @extend .d-flex, .justify-content-end, .align-items-center;

        a {
          &:first-child {
            @extend .mr-4;

            &:not(:hover) {
              img {
                opacity: .5;
              }
            }  
          }

          img {
            max-height: calc(#{$app-logo-nosidebar-height} - 20px);
          }

          &:not(:hover) {
            img {
              filter: grayscale(100%);
            }
          }
        }
      } 
    }

    .jumbotron {
      @extend .p-4;

      h1 {
        @extend .app-heading-thin;
      }

      .collapse {
        p {
          &:last-child {
            @extend .m-0;
          }
        }
      }
    }

    .table {
      tr {
        th {
          max-width: 100px;
        }
      }
    }

    .app-footer {
      .form-check {
        @extend .ml-3;
        display: inline-block;
      }

      .app-captcha {
        display: none;
      }
    }
  }
}

.app-modal-podminky {
  h4 {
    @extend .app-heading-thin;
  }
}