// --- LAYOUT ---

body {
  @import 'app-login';
  @import "app-oznameni";
  @import "app-akce";
  @import "app-modal";
  @import "app-datepicker";

  &.app-accounts,
  &.app-oznameni {
    &:not(.app-edit) {
      padding: $spacer-4 $spacer-3;

      #app-page-wrapper {
        min-width: auto;

        .container-fluid {
          max-width: $container-max-width-xl;
        }
      }
    } 
  }
}

#app-wrapper {
  overflow-x: hidden;
}

#app-page-wrapper {
  min-width: 100vh;
  width: 100%;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  position: relative;

  @import "app-navbar";
  @import "app-toolbar";
  @import "app-bs-stepper";
  @import "app-entity-cards";
  @import 'app-footer';

  .container-fluid {

    &.app-content-wrapper {
      @include setEntityElementsColor();
      @extend .p-3;
      background-color: $gray-100;
    }
  }
}

#app-wrapper.toggled {
  #app-page-wrapper {
    margin-left: 0;
  }
}
