// --- ENTITY CARDS ---

.app-entity-cards {
  .col {
    @extend .pr-0;
    max-width: 220px;

    .app-card-entity {
      @include setEntityColor("card");
      @extend .h-100, .border-0, .app-card-shadow;
      min-height: 400px;
      text-align: center;
      cursor: pointer;

      .card-body {
        position: relative;

        &:after {
          width: 100%;
          height: 100%;
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          background-image: url('/static/img/bg-vrstevnice.png');
          background-repeat: no-repeat;
          background-size: 180px;
          background-position: right bottom;
          opacity: .3;
        }
      }

      .card-footer {
        font-size: 18px;
        font-weight: 500;
        font-family: museo;
      }

      img {
        margin-top: 50px;
        width: 60px;
        transition: transform .5s ease;
        opacity: 0;
      }

      &:hover {
        text-decoration: none;
        
        img {
          transform: scale(1.4);
          opacity: unset;
        }
      }
    }
  }
}

.app-card-desc-wrapper {
  min-height: 180px;
}