// --- BS STEPPER ---

// stepper
.bs-stepper {
  .bs-stepper-header {
    align-items: unset;

    .step {
      &.active {
        .bs-stepper-label {
          color: $blue;
        }
      }

      .step-trigger {
        cursor: unset;
    
        &:hover {
          @extend .bg-transparent;
        }
    
        &:focus {
          color: currentColor;
        }
      }

      .app-stepper-date {
        display: block;
        margin-top: -3px;
        font-weight: normal;
        color: inherit;
        font-size: 13px;
      }
    }
  }
}

.step-trigger { 
  &.projekt {
  padding: 10px;
  }
}

.line {
  &.projekt{
  flex: 1 0 12px;
  }
}