{% extends "base_logged_in.html" %}
{% load static %}
{% load i18n %}


{% block title %}Moje Strategie{% endblock %}

{% block content %}
  <div class="app-entity-strategie">
    {% include "strategies/toolbar_strategie.html"%}
    <div class="row app-entity-cards mb-3">
      <div class="col">
        <a href="{% url 'strategies:nasdaq-monthly' '1' %}" class="card app-card-entity app-entity-strategie app-card-nasdaq-strategie">
          <div class="card-body">
            <img src="{% static 'img/logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "Nasdaq mesacna" %}
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="app-card-desc-wrapper">
    <div class="app-collapse-nasdaq-strategie collapse">
      <div class="p-3">
        <h4>{% trans "Nasdaq mesacna strategie" %}</h4>
        <hr />
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div> 
    
  </div>


  <script>
      $(".app-card-entity").mouseleave(function(){
        $(".app-collapse-nasdaq-strategie").hide(100);
      });
      $(".app-card-entity").mouseover(function(){
        $(".app-collapse-nasdaq-strategie").show(100);
      });
  </script>
{% endblock %}
