{% extends "base_logged_in.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load django_tables2 %}

{% block title %}{{strategy.name}}{% endblock %}

{% block content %}
  <div class="app-entity-strategie">
    {% include "strategies/toolbar_strategie.html"%}
    <div>
    {% crispy form %}
    {% if table_django %}{% render_table table_django %}{%endif%}
    
    </div>
  </div>
  
  {{strategy_dates|json_script:"dates" }}
  <script src="{% static '/js/datepicker-dates.js' %}"></script>

{% endblock %}
