{% load i18n %}

<div class="app-toolbar">
  <div class="app-left">
    <div class="app-entity-title">
      <a href="{% url 'strategies:index' %}"><span class="material-icons">dynamic_feed</span> Strategie</a>
    </div>
    <div id="id-app-entity-item" class="app-entity-item">
    </div>
  </div>
</div>
