{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Ověření emailu" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <div class="app-login-wrapper">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <img class="mb-4" src="{% static 'logo-amcr-cs.svg' %}" alt="{% trans 'Archeologická mapa České republiky' %}" class="app-logo">
        <div class="card">
          <div class="card-body">
            <h1 class="h3 mb-3 font-weight-normal">{% trans "Ověření emailu" %}</h1>
            <p class="mt-3 mb-0 text-center text-muted">
              {% trans "Váš email byl úspěšně ověřen." %}
              <hr/>
              {% trans "Vyčkejte na email od administrátora, který Váš účet aktivuje. Poté se budete moci přihlásit." %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
