{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Registrace uživatele" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <div class="app-login-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <img class="app-logo" src="{% static 'img/logo-with-name-black.png' %}" alt="{% trans 'Investujem sam' %}">
        <div class="card">
          <div class="card-body">
            <form method="POST" class="form-group" onsubmit="registerSumbitButton.disabled = true; return true;" class="mb-0">
              {% crispy form %}
              <button id="registerSumbitButton" type="submit" class="btn btn-primary btn-block">{% trans "Zaregistrovat" %}</button>
            </form>
          </div>
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    document.getElementById("id_email").addEventListener("change", function () {
      this.value = this.value.toLowerCase(); 
    });
  </script>
{% endblock %}
