{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Investujem sam - Login{% endblock %}

{% block content %}
  <div class="app-login-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <img class="app-logo" src="{% static 'img/logo-with-name-black.png' %}" alt="{% trans 'Investujem sam' %}">
        <div class="card">
          <div class="card-body">
            <form method="post" action="{% url 'login' %}">
              <h1 class="h3 mb-3 font-weight-normal">{% trans "Přihlášení" %}</h1>
              {% crispy form  %}
              <div class="mb-3">
                <a href="{% url 'password_reset' %}" title="{% trans 'Zapomněli jste heslo' %}?">{% trans "Zapomněli jste heslo" %}?</a>
              </div>
              <button class="btn btn-primary btn-block" type="submit">{% trans "Přihlásit" %}</button>
              <p class="mt-3 mb-3 text-muted">
                {% trans "Nemáte účet" %}?
                <a href="/accounts/register" target="_blank" title="{% trans 'Zaregistrovat se' %}">{% trans "Zaregistrovat se" %}</a>
              </p>
              <hr />
              <div class="app-flags">
                <a href="#" title="{% trans 'Czech' %}">
                  <img src="{% static 'flag-cs.svg' %}" alt="" class="app-flag" />
                </a>
                <a href="#" title="{% trans 'Engish' %}">
                  <img src="{% static 'flag-en.svg' %}" alt="" class="app-flag" />
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    document.getElementById("id_username").addEventListener("change", function () {
      this.value = this.value.toLowerCase(); 
    });
  </script>
{% endblock %}
