{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Reset hesla" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <div class="app-login-wrapper">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <img class="mb-4" src="{% static 'logo-amcr-cs.svg' %}" alt="{% trans 'Archeologická mapa České republiky' %}" class="app-logo">
        <div class="card">
          <div class="card-body">
            {% if validlink %}
              <form method="post">
                <h1 class="h3 mb-3 font-weight-normal">{% trans "Změna hesla" %}</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary btn-block mt-3" type="submit">{% trans "Nastav heslo" %}</button>
              </form>
            {% else %}
              <p class="mt-0 mb-0 text-muted">
                {% trans "Link již není validní. Prosím požádejte o" %} <a href="{% url 'password_reset' %}" title="{% trans 'nový reset hesla' %}">{% trans "nový reset hesla" %}.</a>
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
