{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Reset hesla" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <div class="app-login-wrapper">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <img class="mb-4" src="{% static 'logo-amcr-cs.svg' %}" alt="{% trans 'Archeologická mapa České republiky' %}" class="app-logo">
        <div class="card">
          <div class="card-body">
            <h1 class="h3 mb-3 font-weight-normal">{% trans "Reset hesla" %}</h1>
            <p class="mt-3 mb-0 text-left text-muted">
              {% trans "Návod na nastavení hesla byl odeslán na zadanou e-mailovou adresu, pokud účet s takovou adresou existuje. Měl by za okamžik dorazit. Pokud e-mail neobdržíte, ujistěte se, že zadaná e-mailová adresa je stejná jako ta registrovaná u vašeho účtu a zkontrolujte složku nevyžádané pošty, tzv. spamu." %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
