{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Reset hesla" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <div class="app-login-wrapper">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <img class="mb-4" src="{% static 'logo-amcr-cs.svg' %}" alt="{% trans 'Archeologická mapa České republiky' %}" class="app-logo">
        <div class="card">
          <div class="card-body">
            <form method="POST">
              <h1 class="h3 mb-3 font-weight-normal">{% trans "Reset hesla" %}</h1>
              <p class="mt-3 mb-0 text-muted">
                {% trans "Vaše heslo bylo nastaveno." %} <a href="{% url 'login' %}">{% trans "Přihlásit" %}</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
