{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "AMČR - 403" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
<h2>{% trans "403" %}</h2>
<p class="display-4">{% trans "Přístup zakázán" %}</p>
{% endblock %}
