{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "AMČR - 404" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
<h2>{% trans "404" %}</h2>
<p class="display-4">{% trans "Stránka nenalezena!" %}</p>
<p>{% trans "Omlouváme se za potíže, ale tato stránka neexistuje!" %}</p>
{% endblock %}
