{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "AMČR - 500" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
<h2>{% trans "500" %}</h2>
<p class="display-4">{% trans "Interní chyba serveru!" %}</p>
<p>{% trans "Omlouváme se za potíže, prosím opakujte akci později." %}</p>
{% endblock %}
