{% extends "base.html" %}
{% load i18n %}
{% load compress %}
{% load static %}

{% block sidebar %}
  <div id="app-sidebar-wrapper">
    <div class="app-sidebar-heading">
      <a href="{% url 'strategies:index' %}" title="{% trans 'Domov' %}">
        <img src="{% static 'img/logo-with-name.png' %}" alt="{% trans 'Domov' %}" />
      </a>
    </div>
    <div class="accordion" id="accordionSidebar">
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseProjekty" aria-expanded="false" aria-controls="collapseProjekty">
              <span class="material-icons">dynamic_feed</span> {% trans "Strategie" %}
              <span class="material-icons app-icon-expand">expand_more</span>
            </button>
          </h2>
        </div>
        <div id="collapseProjekty" class="collapse" data-parent="#accordionSidebar">
          <div class="card-body">
            <ul>
              <li><a href="{% url 'strategies:index' %}">{% trans "Nasdaq mesacna" %}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <button class="btn btn-light" id="sidebar-toggle"><span class="material-icons">menu_open</span></button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMobile"
            aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMobile">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item d-lg-none d-xl-block">
          <span class="nav-link">
            <small>
              <strong>{% trans "Přihlášen" %}:</strong> {{ user.email }} ({{ user.hlavni_role }} - {{ user.organizace }})
            </small>
          </span>
        </li>
        <li class="nav-item d-none d-lg-block d-xl-none">
          <a href="#" class="nav-link" tabindex="0" data-trigger="focus" data-toggle="popover" data-placement="bottom"
            data-content="<strong>{% trans 'Přihlášen' %}:</strong> {{ user.email }} ({{ user.hlavni_role }} - {{ user.organizace }})">
            <span class="material-icons">info</span>
            {% trans "Informace" %}
          </a>
        </li>
        <li class="nav-item app-pipe"></li>
        <li class="nav-item">
          <a class="nav-link" href="#" rel="tooltip" data-placement="top" title="{% trans 'Informace o uživateli' %}">
            <span class="material-icons">person</span>
            <span>{% trans "Uživatel" %}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}" rel="tooltip" data-placement="top" title="{% trans 'Odhlásit' %}">
            <span class="material-icons">logout</span>
            {% trans "Odhlásit" %}
          </a>
        </li>
        <li class="nav-item app-pipe"></li>
        <li class="nav-item app-flags">
          <a class="nav-link app-active" href="#">
            <img src="{% static 'img/flag-cs.svg' %}" alt="" class="app-flag" />
          </a>
          <a class="nav-link" href="#">
            <img src="{% static 'img/flag-en.svg' %}" alt="" class="app-flag" />
          </a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block footer %}
  
  {% include "footer.html" %}

{% endblock %}

{% block script_sidebar %}
  <script>
    $("#sidebar-toggle").click(function (e) {
      e.preventDefault();
      $("#app-wrapper").toggleClass("toggled");
    });
    $('[rel="tooltip"]').tooltip({
      container : 'body',
      html : true
    });
    $('[data-toggle="popover"]').popover({
      html : true
    });
  </script>

  <script>
      // Open sidebar based on the url i am viewing
      $(document).ready(function () {
          if (window.location.href.indexOf("projekt") > -1) {
              $('#collapseProjekty').collapse('show')
          } else if (window.location.href.indexOf("model") > -1) {
              $('#collapse3d').collapse('show')
          } else if (window.location.href.indexOf("pas") > -1) {
              $('#collapseSn').collapse('show')
          }
      });
      const goBack = () => {
          window.history.back();
      }

  </script>

{% endblock %}