{% load compress %}
{% load static %}
{% load template_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  {% compress css %}
  <link type="text/x-scss" href="{% static 'theme.scss' %}" rel="stylesheet" media="screen">
  
  <link type="text/x-scss" href="{% static 'scss/_app-sidebar.scss' %}" rel="stylesheet" media="screen">

  {% endcompress %}
  <!-- Material icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
  <!-- Optional JavaScript; choose one of the two! -->
  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
          crossorigin="anonymous"></script>
  <!-- Bootstrap select -->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
  <!-- Bootstrap datepicker -->
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
        integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
        crossorigin="anonymous"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
          integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
          crossorigin="anonymous"></script>
  <script src="{% static '/js/datepicker-cs.js' %}"></script>
  <script src="{% static '/js/selectpicker-cs.js' %}"></script>

  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
</head>
<body class="{{ request.path|url_to_classes }}">
<div class="d-flex" id="app-wrapper">
  {% block sidebar %}{% endblock %}
  <div id="app-page-wrapper">
    {% block navbar %}{% endblock %}

    <div
        class="container-fluid app-content-wrapper">
      {% block content %}{% endblock %}
    </div>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show app-alert-floating" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}

    {% block footer %}{% endblock %}
  </div>
</div>

{% block script_sidebar %}{% endblock %}

  <script>
      $("document").ready($(".dateinput").datepicker({
          format: "dd.mm.yyyy",
          language: 'cs',
          todayHighlight: true,
      }));

      $(".app-alert-floating").delay(5000).slideUp(200, function () {
        $(this).alert('close');
      });
  </script>

{% block script %}
{% endblock %}
</body>
</html>
