{% load i18n %}

<footer class="text-lg-start fixed-bottom">
    <div class="d-flex justify-content-between p-3 app-footer-wrapper">
      <div>
        <a href="#" class="text-uppercase" data-toggle="modal" data-target="#">{% trans "Licence" %}</a><span class="app-pipe"></span>
        <a href="#" class="text-uppercase" data-toggle="modal" data-target="#">{% trans "Kontakt" %}</a><span class="app-pipe"></span>
        <a href="#" class="text-uppercase" data-toggle="modal" data-target="#">{% trans "Partneři" %}</a>
      </div>
      <div>
        <small>
          © 2021 Copyright
          <a class="text-dark" href="#">: IT & Coffee</a>
        </small>
      </div>
    </div>
  </footer>

  {% include "footer_licence.html" %}
  {% include "footer_kontakt.html" %}
  {% include "footer_partneri.html" %}